<div class="card" style="width: 10rem;">
  <a href="/dashboard/all/{{user.id}}">{{user.username}}</a>
  <img class="card-img-top" src={{image_name}} alt="Card image cap" style= "height: 8rem; ">
  <div class="card-body">
    <h5 class="card-title">Song: {{song}}</h5>
    <p class="card-text">
        <div>Genre: {{genre}}</div>
        <div>Artist: {{artist}}</div>
    </p>
    <a href="/post/{{id}}" class="btn btn-primary">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
  {{!-- <a href="https://www.facebook.com/sharer/sharer.php?u=blog.shahednasser.com&quote=Awesome%20Blog!"><i class="bi bi-facebook"  ></i></a> --}}
</div>